@import "main.css";
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Inter+Tight:wght@300;600&family=Inter:wght@500&family=Kdam+Thmor+Pro&family=League+Gothic&family=Nunito:ital,wght@1,200&family=Poppins:wght@300&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Cedarville+Cursive&family=Inter+Tight:wght@300;600&family=Inter:wght@500&family=Kdam+Thmor+Pro&family=League+Gothic&family=Nunito:ital,wght@1,200&family=Poppins:wght@300&family=Roboto+Condensed:wght@700&display=swap');

*, *::before,*::after{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

body{
    
    height:306vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header{
  display: flex;
  justify-content: space-between;
  
  height: max(6vw, 9rem);
}

.menu__box {
  z-index: 2;
  display: flex;

}

ul{

}
.hamburger-menu{
  display: flex;
  justify-content: center;
}

.hamburger-menu{
  /*background: linear-gradient(43deg, #FF416C, #FF4B2B);*/
  background: black;
  width: 100%;
  height: 10rem;
  position: fixed;
  z-index: 2;
}

nav{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 4;
  padding-left: 2rem;
  margin-top: -2.5rem;
  font-family: 'Cedarville Cursive', cursive;
}
nav h1{
  font-size: 3.5rem;
  color: white;
  
  
}
nav h2{
  padding-left: 4rem;
  margin-top: -4.5rem;
  color: red;

}
.menu__item {

  
  display: flex;
  justify-content: center;
  margin: min(.5vw, 2rem);
  padding: 12px 24px;
  color: wheat;
  font-family: 'Roboto', sans-serif;
  font-size: clamp(.6rem, 1.5vw, 1rem);
  font-weight: 600;
  text-decoration: none;
  transform: translateY(3rem);
  transition-duration: .25s;

  
}
.menu__item:hover {
  border-bottom: 2px solid rgb(185, 93, 93);
  border-top: 2px solid rgb(233, 136, 121);
  background: linear-gradient(to right, #FDB750,#fc2f20ad);
  color: white;
  border-radius: 11px;
}




section{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}


.text img{
    position: relative;
    transform: translateY(3rem);
    width: min(95vw, 120rem);
    display: flex;
    height: min(81vw, 50rem);
    max-height: 62rem;
    border: 11px solid black;
    border-radius: 21px;
    
    filter: brightness(25%);
}

.text{
  filter: contrast(113rem);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.texts{
    position: absolute;
    z-index: 1;
    color:white;
    display: flex;
    flex-direction: column;
    
    text-align: center;
    width: 100%;
    padding: 0;
    
    font-family: 'Courier New', Courier, monospace;
}

.texts h1{
    font-size: max(11vw, 2rem);
    text-shadow: 11px 13px  rgba(41, 40, 40, 0.437);
    
    margin: 1rem;
}
.texts h5{
    font-size:clamp(.2rem, 2.5vw, 2rem);
    margin: 1;
    font-weight: 800;
    text-shadow: 11px 13px  rgba(41, 40, 40, 0.523);
}

.msg{
    position: absolute;
    width: min(21rem,41vw);
    top: min(41vw, 25rem);
    align-self: center;
    height: min(6rem, 11vw);
    border: none;
    transition: .4s ease-in-out;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: min(3vw, 2rem);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border-radius: 11px;

    background: linear-gradient(120deg, #7b4397,#dc2430);
}
.msg:hover{
    background: red;
    box-shadow: 2px 2px 12px 2px bisque;
    color: white;
}



.container{
    display: flex;

    max-width: 100rem;
    
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;

    height: min(62vh);

}




.Swiper-Menu{
  position: relative;
  display: flex;
  justify-content: center;
  top: 15rem;
}
.Swiper-Menu h1{
  margin: 0;
  top: -3rem;
  text-align: center;
  width: 100%;
}
.cards{
  display: flex;
  
  overflow-x: scroll;
 
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: min(60rem, 60vw);
  height: min(79rem, 31rem);
  gap: 1rem;
  cursor: pointer;
  
}

.card{
  align-self: center;
  text-align: center;
  scroll-snap-align: start;
  background: rgba(87, 85, 85, 0.174);
  flex-wrap: wrap;
  border-radius:  11px 11px 0px 0px;
  border: 1px solid rgba(0, 0, 0, 0.112);
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.433);
  
  height: min(71vw, 21rem);
}


.images{
  width: 13rem;
  height: 11rem;
  background: linear-gradient(to right, #f3e2e5, #ffdde1);
  background: blur(3rem);
  border-bottom: 2px solid rgba(19, 19, 19, 0.584);
  border-radius:  11px 11px 0px 0px;
}
.card h1{
  font-family: 'Courier New', Courier, monospace;
}

.order_btn button{
  display: flex;
  align-self: flex-start;
  justify-self: flex-end;
  
}
.card li{
  font-weight: 600;
}
.order_btn{
  height: 1.5rem;
  width: 7rem;
  border: 1px solid rgba(47, 44, 44, 0.068);
  border-radius: 4px;
  margin-top: 2rem;
  transition: .4s ease-in-out;
}
.order_btn:hover{
  background: red;
  cursor: pointer;
  color: white;
}

#prevButton, #nextButton{

   
  border: none;
  background: none;
  color: black;
 

}

#prevButton:hover{
color: rgba(255, 0, 0, 0.647);
background: rgba(0, 0, 0, 0.043);

transform: scale(.7);
}
#nextButton:hover{
color: rgba(255, 0, 0, 0.647);
background: rgba(0, 0, 0, 0.043);

transform: scale(.7);
}

#prevButton {
left: max(11vw, -11rem);
top: 4rem;

transition: .4s ease-in-out;
}

#nextButton {
right: 21rem;
top: 4rem;

transition: .4s ease-in-out;
}



.row{
  
  display: grid;
  
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  place-content: center;
 
}

.box{
  border: 2px solid rgba(12, 12, 12, 0.436);
  padding: 1em;
  margin: 1rem;
  
  border-radius: 11px;
  background: linear-gradient(360deg, #D3CCE3,#E9E4F0);
  transition: .4s ease-in-out;
}
.box:hover{
  cursor: pointer;
  transform: scale(1.04);
}
.box p{
  font-size: min(3vw, 1rem);
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  
  text-shadow: 12px 12px 12px 12px black;
}
.box span{
  font-size: 3rem;
  
}
.box h2{
  text-align: center;
}

section.boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  font-weight:800;
  position: relative;
  top: 21rem;
  gap: 3rem;
  background: linear-gradient(140deg, #BE93C5,#7BC6CC);
  padding: 3rem;
  
}

.footer{
  
  
  margin-top: 31rem;
  background: linear-gradient(200deg, #C9D6FF,#F8CDDA,#E2E2E2);
  border-top: 3px solid #E2E2E2;
  width: min(99vw, 100%);
  height: min(77vw, 21rem);
}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link a{
  transition: .4s ease-in-out;
  flex-direction: column;
}

.link a:hover{
  transform: scale(1.2);
}
.footer p{
  text-align: center;
  padding-top:1rem;
}




.form{
  display: flex;
  flex-shrink: 1;
  position: fixed;
  z-index: 4;
  transform: scale(0);

  border-radius: 11px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(200deg, #D3CCE3,#E9E4F0);
  top: 12rem;
    
}
#cls{
  display: flex;
  
 
}


.h1{
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}

form{
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  width: 100%;
}
input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.input{
  padding: 11px;
    
  display: flex;
  
  flex-direction: column;
}
.input input{
  height: min(34vw, 3rem);
  min-width: 70%;
  width: 100%;
}
 #subject{
 width: min(29vw,21rem);
}
.input input:focus{
  outline: none;
}

textarea{
  display: flex;
  margin-top: 1rem;
  width: min(76vw, 42rem);
}
textarea:focus{
  outline: none;
}
.sumb{
  display: flex;
  align-self: flex-end;
  margin-top: 3rem;
}
.activeForm{
  transition: .1s ease-in-out;
  
  transform: scale(1);
  
}

.submit{
  width: 10rem;
  height: 3rem;
  border: none;
  font-weight: 700;
  border-radius: 6px;
  transition: .2s ease-in-out;
}

.submit:hover{
  cursor: pointer;
  background: red;
  color: white;
}

.material-symbols-outlined{
  background: none;
  border: none;
  display: flex;
 
}
.material-symbols-outlined:hover{
  color: red;
  cursor: pointer;
}

.logo a{
  margin: 1rem;
}

.overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.622);
  pointer-events: none;
}
.activeOverlay{
  opacity: 1;
}

span{
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateY(50px);
 
}
span.fade{
  opacity: 1;
  transform: translateY(0px);
}